.form-container{
    width: 45%;
    background: gray;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 50px auto
}
.error{
    color: red
}
.form-container input{
    height: 30px;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-top: 10px;

}
.form-container button{
    width: 30%;
    height: 30px;
    paddin: 10px;
    border-radius: 8px;
    background: gray;
    border: 1px solid #000;
    outline: none;
    margin-top: 10px
}