.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 45px
}
p{
    margin: 0
}
a, a:active, a:focus{
    color: #fff
}
input{
    height: 30px;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-top: 10px;

}
button {
    width: 30%;
    height: 30px;
    paddin: 10px;
    border-radius: 8px;
    background: gray;
    border: 1px solid #000;
    outline: none;
    margin-top: 10px;
    cursor: pointer
}
.items-container-new{
    display: flex;
    flex-direction: column;
    background: gray;
    padding: 10px;
    border-radius: 8px
}
.product-card.skeleton {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.product-card.skeleton:hover {
    transform: translateY(-5px);
}

.product-card.skeleton img {
    width: 100%;
    height: auto;
}

.product-details {
    padding: 20px;
}

.skeleton {
    background-color: #f4f4f4;
}

.skeleton h2 {
    margin: 0;
}

.skeleton p {
    margin: 10px 0;
}
